* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Primary */
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    /* Neutral */
    --very-dark-blue-main: hsl(217, 54%, 11%);
    --very-dark-blue-card: hsl(216, 50%, 16%);
    --very-dark-blue-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

html {
    height: 100%;
    font-size: 18px;
}

body {
    min-height: 100%;
    background-color: var(--very-dark-blue-main);
    color: var(--soft-blue);
    font-family: "Outfit", sans-serif;
    font-size: 0.8rem;
    padding: 64px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.nft-preview-card-component {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 288px;
    background-color: var(--very-dark-blue-card);
    padding: 20px;
    border-radius: 8px;
    z-index: 1;
}

.nft-preview-card-component__img-container {
    position: relative;
    cursor: pointer;
}

.image {
	vertical-align: middle;
	z-index: 6;
}

.image,
.layer {
	width: 100%;
	border-radius: 8px;
}

.layer {
	height: 100%;
	top: 0;
	left: 0;
	background-color: var(--cyan);
	opacity: 0.5;
	z-index: 7;
}

.icon-view {
	background-image: url("images/icon-view.svg");
	top: 50%;
	left: 50%;
	width: 48px;
	height: 48px;
	translate: -50% -50%;
	z-index: 8;
}

.layer,
.icon-view {
	position: absolute;
	display: none;
}

.nft-preview-card-component__img-container:hover .layer {
	display: inline-block;
}

.nft-preview-card-component__img-container:hover .icon-view {
	display: inline-block;
}

.font-white {
    color: var(--white);
}

h2 {
    font-size: 1.2rem;
}

.amount-and-price {
    display: flex;
    justify-content: space-between;
}

.amount-and-price > span {
    display: flex;
    align-items: center;
    gap: 4px;
}

.icon-ethereum,
.icon-clock {
    width: 16px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-ethereum {
    background-image: url("images/icon-ethereum.svg");
}

.font-bold {
    font-weight: bold;
}

.icon-clock {
    background-image: url("images/icon-clock.svg");
}

.font-cyan {
    color: var(--cyan);
}

div.div {
    width: 100%;
    height: 1px;
    background-color: var(--very-dark-blue-line);
}

.avatar-info {
    display: flex;
    align-items: center;
    gap: 16px;
}

.img-little {
    width: 32px;
    border-radius: 50%;
    border: 2px solid var(--white);
}

/* Active states */

.highlight:hover {
    color: var(--cyan);
}

.attribution {
    margin-top: auto;
    background-color: inherit;
    text-align: center;
    padding: 8px;
    border-radius: 16px;
    z-index: 0;
}

.attribution a {
    text-decoration: none;
}

@media only screen and (min-width: 600px) {
    .attribution {
        position: absolute;
        bottom: 16px;
    }
}
